    /*
    Flaticon icon font: Flaticon
    Creation date: 17/11/2020 12:49
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-play-button-1:before { content: "\f100"; }
.flaticon-play-button:before { content: "\f101"; }
.flaticon-stats:before { content: "\f102"; }
.flaticon-profits:before { content: "\f103"; }
.flaticon-profits-1:before { content: "\f104"; }
.flaticon-monitoring:before { content: "\f105"; }
.flaticon-monitor:before { content: "\f106"; }
.flaticon-padlock:before { content: "\f107"; }
.flaticon-lock:before { content: "\f108"; }
.flaticon-lock-1:before { content: "\f109"; }
.flaticon-affiliate-marketing:before { content: "\f10a"; }
.flaticon-promotion:before { content: "\f10b"; }
.flaticon-factory:before { content: "\f10c"; }
.flaticon-automation:before { content: "\f10d"; }
.flaticon-ui:before { content: "\f10e"; }
.flaticon-vector:before { content: "\f10f"; }
.flaticon-vector-1:before { content: "\f110"; }
.flaticon-call:before { content: "\f111"; }
.flaticon-call-1:before { content: "\f112"; }
.flaticon-phone-ringing:before { content: "\f113"; }
.flaticon-paper-plane:before { content: "\f114"; }
.flaticon-paper-plane-1:before { content: "\f115"; }
.flaticon-ribbon:before { content: "\f116"; }
.flaticon-trophy:before { content: "\f117"; }
.flaticon-loudspeaker:before { content: "\f118"; }
.flaticon-statistics:before { content: "\f119"; }
.flaticon-strategy:before { content: "\f11a"; }
.flaticon-marketing:before { content: "\f11b"; }
.flaticon-achievement:before { content: "\f11c"; }
.flaticon-graph:before { content: "\f11d"; }
.flaticon-graph-1:before { content: "\f11e"; }
.flaticon-briefcase:before { content: "\f11f"; }
.flaticon-email-marketing:before { content: "\f120"; }
.flaticon-growth:before { content: "\f121"; }
.flaticon-idea:before { content: "\f122"; }
.flaticon-advertisement:before { content: "\f123"; }
.flaticon-billboard:before { content: "\f124"; }
.flaticon-time-and-date:before { content: "\f125"; }
.flaticon-growth-1:before { content: "\f126"; }
.flaticon-calendar:before { content: "\f127"; }
.flaticon-growth-2:before { content: "\f128"; }
.flaticon-presentation:before { content: "\f129"; }
.flaticon-scientist:before { content: "\f12a"; }
.flaticon-laptop:before { content: "\f12b"; }
.flaticon-dashboard:before { content: "\f12c"; }
.flaticon-architect:before { content: "\f12d"; }
.flaticon-account:before { content: "\f12e"; }
.flaticon-repair-expert:before { content: "\f12f"; }
.flaticon-fast-time:before { content: "\f130"; }
.flaticon-clock:before { content: "\f131"; }
.flaticon-delivery-man:before { content: "\f132"; }
.flaticon-coronavirus:before { content: "\f133"; }
.flaticon-stopwatch:before { content: "\f134"; }
.flaticon-hourglass:before { content: "\f135"; }
.flaticon-search:before { content: "\f136"; }
.flaticon-search-interface-symbol:before { content: "\f137"; }
.flaticon-search-1:before { content: "\f138"; }
.flaticon-right:before { content: "\f139"; }
.flaticon-down-arrow-1:before { content: "\f13a"; }
.flaticon-up-arrow-1:before { content: "\f13b"; }
.flaticon-left-arrow-1:before { content: "\f13c"; }
.flaticon-right-arrow:before { content: "\f13d"; }
.flaticon-cancel:before { content: "\f13e"; }
.flaticon-cancel-1:before { content: "\f13f"; }
.flaticon-close:before { content: "\f140"; }
.flaticon-letter-x:before { content: "\f141"; }
.flaticon-star:before { content: "\f142"; }
.flaticon-star-1:before { content: "\f143"; }
.flaticon-black-star-silhouette:before { content: "\f144"; }
.flaticon-star-half-empty:before { content: "\f145"; }
.flaticon-half-filled-rating-star:before { content: "\f146"; }
.flaticon-phone-and-computer-monitor-outlines-inside-a-circle:before { content: "\f147"; }
.flaticon-monitor-and-cellphone-outlines-in-a-circle:before { content: "\f148"; }
.flaticon-layers:before { content: "\f149"; }
.flaticon-layers-1:before { content: "\f14a"; }
.flaticon-layers-2:before { content: "\f14b"; }
.flaticon-layers-3:before { content: "\f14c"; }
.flaticon-sweeping:before { content: "\f14d"; }
.flaticon-brush:before { content: "\f14e"; }
.flaticon-idea-1:before { content: "\f14f"; }
.flaticon-solution:before { content: "\f150"; }
.flaticon-device:before { content: "\f151"; }
.flaticon-settings:before { content: "\f152"; }
.flaticon-worker:before { content: "\f153"; }
.flaticon-employee:before { content: "\f154"; }
.flaticon-engineer:before { content: "\f155"; }
.flaticon-worker-1:before { content: "\f156"; }
.flaticon-employee-1:before { content: "\f157"; }
.flaticon-training:before { content: "\f158"; }
.flaticon-flask:before { content: "\f159"; }
.flaticon-team:before { content: "\f15a"; }
.flaticon-box:before { content: "\f15b"; }
.flaticon-depression:before { content: "\f15c"; }
.flaticon-puzzle:before { content: "\f15d"; }
.flaticon-globe:before { content: "\f15e"; }
.flaticon-worldwide:before { content: "\f15f"; }
.flaticon-worldwide-1:before { content: "\f160"; }
.flaticon-test-tube:before { content: "\f161"; }
.flaticon-facebook-app-symbol:before { content: "\f162"; }
.flaticon-instagram:before { content: "\f163"; }
.flaticon-linkedin:before { content: "\f164"; }
.flaticon-linkedin-1:before { content: "\f165"; }
.flaticon-twitter:before { content: "\f166"; }
.flaticon-google-plus:before { content: "\f167"; }
.flaticon-youtube:before { content: "\f168"; }
.flaticon-dribble:before { content: "\f169"; }
.flaticon-dribble-1:before { content: "\f16a"; }
.flaticon-mail:before { content: "\f16b"; }
.flaticon-message:before { content: "\f16c"; }
.flaticon-comment:before { content: "\f16d"; }
.flaticon-speech-bubble:before { content: "\f16e"; }
.flaticon-comment-1:before { content: "\f16f"; }
.flaticon-view:before { content: "\f170"; }
.flaticon-view-1:before { content: "\f171"; }
.flaticon-eye:before { content: "\f172"; }
.flaticon-user:before { content: "\f173"; }
.flaticon-profile-user:before { content: "\f174"; }
.flaticon-user-1:before { content: "\f175"; }
.flaticon-user-2:before { content: "\f176"; }
.flaticon-pen:before { content: "\f177"; }
.flaticon-edit-button:before { content: "\f178"; }
.flaticon-share:before { content: "\f179"; }
.flaticon-share-1:before { content: "\f17a"; }
.flaticon-share-2:before { content: "\f17b"; }
.flaticon-export:before { content: "\f17c"; }
.flaticon-down-arrow-2:before { content: "\f17d"; }
.flaticon-cloud-computing:before { content: "\f17e"; }
    
    $font-Flaticon-play-button-1: "\f100";
    $font-Flaticon-play-button: "\f101";
    $font-Flaticon-stats: "\f102";
    $font-Flaticon-profits: "\f103";
    $font-Flaticon-profits-1: "\f104";
    $font-Flaticon-monitoring: "\f105";
    $font-Flaticon-monitor: "\f106";
    $font-Flaticon-padlock: "\f107";
    $font-Flaticon-lock: "\f108";
    $font-Flaticon-lock-1: "\f109";
    $font-Flaticon-affiliate-marketing: "\f10a";
    $font-Flaticon-promotion: "\f10b";
    $font-Flaticon-factory: "\f10c";
    $font-Flaticon-automation: "\f10d";
    $font-Flaticon-ui: "\f10e";
    $font-Flaticon-vector: "\f10f";
    $font-Flaticon-vector-1: "\f110";
    $font-Flaticon-call: "\f111";
    $font-Flaticon-call-1: "\f112";
    $font-Flaticon-phone-ringing: "\f113";
    $font-Flaticon-paper-plane: "\f114";
    $font-Flaticon-paper-plane-1: "\f115";
    $font-Flaticon-ribbon: "\f116";
    $font-Flaticon-trophy: "\f117";
    $font-Flaticon-loudspeaker: "\f118";
    $font-Flaticon-statistics: "\f119";
    $font-Flaticon-strategy: "\f11a";
    $font-Flaticon-marketing: "\f11b";
    $font-Flaticon-achievement: "\f11c";
    $font-Flaticon-graph: "\f11d";
    $font-Flaticon-graph-1: "\f11e";
    $font-Flaticon-briefcase: "\f11f";
    $font-Flaticon-email-marketing: "\f120";
    $font-Flaticon-growth: "\f121";
    $font-Flaticon-idea: "\f122";
    $font-Flaticon-advertisement: "\f123";
    $font-Flaticon-billboard: "\f124";
    $font-Flaticon-time-and-date: "\f125";
    $font-Flaticon-growth-1: "\f126";
    $font-Flaticon-calendar: "\f127";
    $font-Flaticon-growth-2: "\f128";
    $font-Flaticon-presentation: "\f129";
    $font-Flaticon-scientist: "\f12a";
    $font-Flaticon-laptop: "\f12b";
    $font-Flaticon-dashboard: "\f12c";
    $font-Flaticon-architect: "\f12d";
    $font-Flaticon-account: "\f12e";
    $font-Flaticon-repair-expert: "\f12f";
    $font-Flaticon-fast-time: "\f130";
    $font-Flaticon-clock: "\f131";
    $font-Flaticon-delivery-man: "\f132";
    $font-Flaticon-coronavirus: "\f133";
    $font-Flaticon-stopwatch: "\f134";
    $font-Flaticon-hourglass: "\f135";
    $font-Flaticon-search: "\f136";
    $font-Flaticon-search-interface-symbol: "\f137";
    $font-Flaticon-search-1: "\f138";
    $font-Flaticon-right: "\f139";
    $font-Flaticon-down-arrow-1: "\f13a";
    $font-Flaticon-up-arrow-1: "\f13b";
    $font-Flaticon-left-arrow-1: "\f13c";
    $font-Flaticon-right-arrow: "\f13d";
    $font-Flaticon-cancel: "\f13e";
    $font-Flaticon-cancel-1: "\f13f";
    $font-Flaticon-close: "\f140";
    $font-Flaticon-letter-x: "\f141";
    $font-Flaticon-star: "\f142";
    $font-Flaticon-star-1: "\f143";
    $font-Flaticon-black-star-silhouette: "\f144";
    $font-Flaticon-star-half-empty: "\f145";
    $font-Flaticon-half-filled-rating-star: "\f146";
    $font-Flaticon-phone-and-computer-monitor-outlines-inside-a-circle: "\f147";
    $font-Flaticon-monitor-and-cellphone-outlines-in-a-circle: "\f148";
    $font-Flaticon-layers: "\f149";
    $font-Flaticon-layers-1: "\f14a";
    $font-Flaticon-layers-2: "\f14b";
    $font-Flaticon-layers-3: "\f14c";
    $font-Flaticon-sweeping: "\f14d";
    $font-Flaticon-brush: "\f14e";
    $font-Flaticon-idea-1: "\f14f";
    $font-Flaticon-solution: "\f150";
    $font-Flaticon-device: "\f151";
    $font-Flaticon-settings: "\f152";
    $font-Flaticon-worker: "\f153";
    $font-Flaticon-employee: "\f154";
    $font-Flaticon-engineer: "\f155";
    $font-Flaticon-worker-1: "\f156";
    $font-Flaticon-employee-1: "\f157";
    $font-Flaticon-training: "\f158";
    $font-Flaticon-flask: "\f159";
    $font-Flaticon-team: "\f15a";
    $font-Flaticon-box: "\f15b";
    $font-Flaticon-depression: "\f15c";
    $font-Flaticon-puzzle: "\f15d";
    $font-Flaticon-globe: "\f15e";
    $font-Flaticon-worldwide: "\f15f";
    $font-Flaticon-worldwide-1: "\f160";
    $font-Flaticon-test-tube: "\f161";
    $font-Flaticon-facebook-app-symbol: "\f162";
    $font-Flaticon-instagram: "\f163";
    $font-Flaticon-linkedin: "\f164";
    $font-Flaticon-linkedin-1: "\f165";
    $font-Flaticon-twitter: "\f166";
    $font-Flaticon-google-plus: "\f167";
    $font-Flaticon-youtube: "\f168";
    $font-Flaticon-dribble: "\f169";
    $font-Flaticon-dribble-1: "\f16a";
    $font-Flaticon-mail: "\f16b";
    $font-Flaticon-message: "\f16c";
    $font-Flaticon-comment: "\f16d";
    $font-Flaticon-speech-bubble: "\f16e";
    $font-Flaticon-comment-1: "\f16f";
    $font-Flaticon-view: "\f170";
    $font-Flaticon-view-1: "\f171";
    $font-Flaticon-eye: "\f172";
    $font-Flaticon-user: "\f173";
    $font-Flaticon-profile-user: "\f174";
    $font-Flaticon-user-1: "\f175";
    $font-Flaticon-user-2: "\f176";
    $font-Flaticon-pen: "\f177";
    $font-Flaticon-edit-button: "\f178";
    $font-Flaticon-share: "\f179";
    $font-Flaticon-share-1: "\f17a";
    $font-Flaticon-share-2: "\f17b";
    $font-Flaticon-export: "\f17c";
    $font-Flaticon-down-arrow-2: "\f17d";
    $font-Flaticon-cloud-computing: "\f17e";