	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/11/2020 12:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-play-button-1:before { content: "\f100"; }
.flaticon-play-button:before { content: "\f101"; }
.flaticon-stats:before { content: "\f102"; }
.flaticon-profits:before { content: "\f103"; }
.flaticon-profits-1:before { content: "\f104"; }
.flaticon-monitoring:before { content: "\f105"; }
.flaticon-monitor:before { content: "\f106"; }
.flaticon-padlock:before { content: "\f107"; }
.flaticon-lock:before { content: "\f108"; }
.flaticon-lock-1:before { content: "\f109"; }
.flaticon-affiliate-marketing:before { content: "\f10a"; }
.flaticon-promotion:before { content: "\f10b"; }
.flaticon-factory:before { content: "\f10c"; }
.flaticon-automation:before { content: "\f10d"; }
.flaticon-ui:before { content: "\f10e"; }
.flaticon-vector:before { content: "\f10f"; }
.flaticon-vector-1:before { content: "\f110"; }
.flaticon-call:before { content: "\f111"; }
.flaticon-call-1:before { content: "\f112"; }
.flaticon-phone-ringing:before { content: "\f113"; }
.flaticon-paper-plane:before { content: "\f114"; }
.flaticon-paper-plane-1:before { content: "\f115"; }
.flaticon-ribbon:before { content: "\f116"; }
.flaticon-trophy:before { content: "\f117"; }
.flaticon-loudspeaker:before { content: "\f118"; }
.flaticon-statistics:before { content: "\f119"; }
.flaticon-strategy:before { content: "\f11a"; }
.flaticon-marketing:before { content: "\f11b"; }
.flaticon-achievement:before { content: "\f11c"; }
.flaticon-graph:before { content: "\f11d"; }
.flaticon-graph-1:before { content: "\f11e"; }
.flaticon-briefcase:before { content: "\f11f"; }
.flaticon-email-marketing:before { content: "\f120"; }
.flaticon-growth:before { content: "\f121"; }
.flaticon-idea:before { content: "\f122"; }
.flaticon-advertisement:before { content: "\f123"; }
.flaticon-billboard:before { content: "\f124"; }
.flaticon-time-and-date:before { content: "\f125"; }
.flaticon-growth-1:before { content: "\f126"; }
.flaticon-calendar:before { content: "\f127"; }
.flaticon-growth-2:before { content: "\f128"; }
.flaticon-presentation:before { content: "\f129"; }
.flaticon-scientist:before { content: "\f12a"; }
.flaticon-laptop:before { content: "\f12b"; }
.flaticon-dashboard:before { content: "\f12c"; }
.flaticon-architect:before { content: "\f12d"; }
.flaticon-account:before { content: "\f12e"; }
.flaticon-repair-expert:before { content: "\f12f"; }
.flaticon-fast-time:before { content: "\f130"; }
.flaticon-clock:before { content: "\f131"; }
.flaticon-delivery-man:before { content: "\f132"; }
.flaticon-coronavirus:before { content: "\f133"; }
.flaticon-stopwatch:before { content: "\f134"; }
.flaticon-hourglass:before { content: "\f135"; }
.flaticon-search:before { content: "\f136"; }
.flaticon-search-interface-symbol:before { content: "\f137"; }
.flaticon-search-1:before { content: "\f138"; }
.flaticon-right:before { content: "\f139"; }
.flaticon-down-arrow-1:before { content: "\f13a"; }
.flaticon-up-arrow-1:before { content: "\f13b"; }
.flaticon-left-arrow-1:before { content: "\f13c"; }
.flaticon-right-arrow:before { content: "\f13d"; }
.flaticon-cancel:before { content: "\f13e"; }
.flaticon-cancel-1:before { content: "\f13f"; }
.flaticon-close:before { content: "\f140"; }
.flaticon-letter-x:before { content: "\f141"; }
.flaticon-star:before { content: "\f142"; }
.flaticon-star-1:before { content: "\f143"; }
.flaticon-black-star-silhouette:before { content: "\f144"; }
.flaticon-star-half-empty:before { content: "\f145"; }
.flaticon-half-filled-rating-star:before { content: "\f146"; }
.flaticon-phone-and-computer-monitor-outlines-inside-a-circle:before { content: "\f147"; }
.flaticon-monitor-and-cellphone-outlines-in-a-circle:before { content: "\f148"; }
.flaticon-layers:before { content: "\f149"; }
.flaticon-layers-1:before { content: "\f14a"; }
.flaticon-layers-2:before { content: "\f14b"; }
.flaticon-layers-3:before { content: "\f14c"; }
.flaticon-sweeping:before { content: "\f14d"; }
.flaticon-brush:before { content: "\f14e"; }
.flaticon-idea-1:before { content: "\f14f"; }
.flaticon-solution:before { content: "\f150"; }
.flaticon-device:before { content: "\f151"; }
.flaticon-settings:before { content: "\f152"; }
.flaticon-worker:before { content: "\f153"; }
.flaticon-employee:before { content: "\f154"; }
.flaticon-engineer:before { content: "\f155"; }
.flaticon-worker-1:before { content: "\f156"; }
.flaticon-employee-1:before { content: "\f157"; }
.flaticon-training:before { content: "\f158"; }
.flaticon-flask:before { content: "\f159"; }
.flaticon-team:before { content: "\f15a"; }
.flaticon-box:before { content: "\f15b"; }
.flaticon-depression:before { content: "\f15c"; }
.flaticon-puzzle:before { content: "\f15d"; }
.flaticon-globe:before { content: "\f15e"; }
.flaticon-worldwide:before { content: "\f15f"; }
.flaticon-worldwide-1:before { content: "\f160"; }
.flaticon-test-tube:before { content: "\f161"; }
.flaticon-facebook-app-symbol:before { content: "\f162"; }
.flaticon-instagram:before { content: "\f163"; }
.flaticon-linkedin:before { content: "\f164"; }
.flaticon-linkedin-1:before { content: "\f165"; }
.flaticon-twitter:before { content: "\f166"; }
.flaticon-google-plus:before { content: "\f167"; }
.flaticon-youtube:before { content: "\f168"; }
.flaticon-dribble:before { content: "\f169"; }
.flaticon-dribble-1:before { content: "\f16a"; }
.flaticon-mail:before { content: "\f16b"; }
.flaticon-message:before { content: "\f16c"; }
.flaticon-comment:before { content: "\f16d"; }
.flaticon-speech-bubble:before { content: "\f16e"; }
.flaticon-comment-1:before { content: "\f16f"; }
.flaticon-view:before { content: "\f170"; }
.flaticon-view-1:before { content: "\f171"; }
.flaticon-eye:before { content: "\f172"; }
.flaticon-user:before { content: "\f173"; }
.flaticon-profile-user:before { content: "\f174"; }
.flaticon-user-1:before { content: "\f175"; }
.flaticon-user-2:before { content: "\f176"; }
.flaticon-pen:before { content: "\f177"; }
.flaticon-edit-button:before { content: "\f178"; }
.flaticon-share:before { content: "\f179"; }
.flaticon-share-1:before { content: "\f17a"; }
.flaticon-share-2:before { content: "\f17b"; }
.flaticon-export:before { content: "\f17c"; }
.flaticon-down-arrow-2:before { content: "\f17d"; }
.flaticon-cloud-computing:before { content: "\f17e"; }